.critical-hit {
	color: green;
}

.miss {
	color: gray;
}

.hit {
	color: blue;
}

.critical-failure {
	color: red;
}

.low-health {
	color: red;
	font-weight: bold;
}

.text-red {
	color: red;
}

.text-default {
	color: darkblue; /* Or any other default color you'd like */
}
